<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022661262749-n9gd9l2aokk80j9ibblulmrmglktu9qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022661262749-n9gd9l2aokk80j9ibblulmrmglktu9qq</string>
	<key>API_KEY</key>
	<string>AIzaSyDYYTop7zeg6KouZP8tam9A7_hnC9EU3Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>1022661262749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativechatwithfirebase</string>
	<key>PROJECT_ID</key>
	<string>my-project-bec94</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-bec94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022661262749:ios:fdf39ae1c2a2910ec20374</string>
</dict>
</plist>